<main>
  @if(post$ | async; as post) {
  <div class="post-detail-container">
    <mat-card class="post-detail-card">
      <!-- Header Image Section -->
      <div
        class="post-header"
        [ngStyle]="{ 'background-image': 'url(' + post.headerImageUrl + ')' }"
      >
        <div class="header-overlay">
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle
            >{{ post.author }} - {{ post.date }}</mat-card-subtitle
          >
        </div>
      </div>

      <!-- Post Content Section -->
      <mat-card-content>
        <p>{{ post.body }}</p>
      </mat-card-content>

      <!-- Post Actions (Optional, like back button or share) -->
      <mat-card-actions>
        <button mat-button (click)="goBack()">Back</button>
      </mat-card-actions>
    </mat-card>
  </div>

  }@else{
  <p>Loading...</p>

  }
</main>
